.color-orange { 
	color: #f8b400; 
}
	
.color-beige { 
	color: #faf5e4; 
}

.color-mediumteal { 
	color: #2c786c; 
}

.color-darkteal { 
	color: #004445; 
}

.background-color-orange { 
	background-color: #f8b400; 
}
	
.background-color-beige { 
	background-color: #faf5e4; 
}

.background-color-mediumteal { 
	background-color: #2c786c; 
}

.background-color-darkteal { 
	background-color: #004445; 
}